* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
    transition: .15s;
}

body {
    background: #b4c7e6;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 0;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.task-field {
}

@keyframes down {
    0% {
        bottom: 20px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}
.task-item {
    padding: 20px;
    box-shadow: 0 0 20px #756f6f1b;
    position: relative;
    margin: 20px  auto;

    width: 100%;    
    background: #fff;
    bottom: 0;
    animation: down .4s ease;
    .task-text {
        font-size: 1em;
        padding-right: 120px;
        margin-bottom: 15px;
    }
    .task-status {
        position: absolute;
        top: 10px;
        right: 0;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px  10px;
        font-size: 0.7em;
        color: #939393;
        background: rgb(221, 221, 221);
    }
    
    .task-actions {
        display: flex;
    }
    .task-delete {
        background: rgb(227, 60, 60);
        padding: 5px 10px;
        display: inline-block;
        color: #fff;
        font-size: 0.8em;
        cursor: pointer;
        &:hover {
            background: rgb(184, 50, 50);
        }
    }
    .task-top {
        display: flex;
        align-items: center;
    }
    .task-done {
        padding: 5px 10px;
        display: inline-block;
        background: rgb(60, 174, 104);
        font-size: 0.8em;
        color: #fff;
        margin-right: 5px;
        cursor: pointer;
        &:hover {
            background: rgb(47, 137, 81);
        }
    }
    &.process {
        .task-status {
            color: #fff;
            background: rgb(244, 153, 61);
        }
    } 
    &.done  {
        .task-status {
            color: #fff;
            background: rgb(60, 174, 104);
        }
        .task-done {
            display: none;
        }
    }
    &.expired {
        .task-status {
            background: rgb(227, 60, 60);
            color: #fff;
        }
    }
}

.task-add {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    input {
        width: 100%;
        font-size: 1em;
        padding: 10px;
        padding: 20px;
        box-shadow: 0 0 20px #756f6f1b;
        position: relative;
        margin-top: 20px;
        outline: none;
        width: 100%;    
        background: #fff;
    }
    .task-add-button {
        width: 100%;
        padding: 10px;
        color: #fff;
        background: rgb(60, 92, 174);
        text-align: center;
        cursor: pointer;

    }
}